RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?nicole-brewer.com$
RewriteCond %{REQUEST_URI} !^/web/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCOND %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /web/$1
RewriteCond %{HTTP_HOST} ^(www.)?nicole-brewer.com$
RewriteRule ^(/)?$ web/index.php [L]
