$orange: #EF5E17;
$burnt: #D04407;
$electric: #3FE0CA;
$blue: #3AB2A6;
$light: #E2FFF8;
$white: #FFFFFF;
$gray: #1D1D1D;

$text: 'Source Sans Pro', sans-serif;
$quote: 'Open Sans Condensed', sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  min-height: 100%;
}

main {
  padding: 0;
  height: auto;
}

a {
  text-decoration: none;
  color: $orange;
  font-family: $quote;

}

a:hover {
  color: $burnt;
}

h1,h2,h3,h4,h5, time, { font-family: $quote; }

p { font-family: $text }

article {
  padding: 1em;
}

/* mobile nav */

#menu-icon {
  display: none;
  width: 100%; //to keep the menu left justified when clicked
}
@media screen and (max-width: 600px) {
  nav a.page {
    display: none;
  }
  #menu-icon {
    display: inline;
    flex-grow: 6;
  }
}

@media screen and (max-width: 600px) {
  .top-bar.dropDown {
    flex-direction: column;
    align-items: center;
  }
  .top-bar.dropDown .page {
    display: block;
  }
  .top-bar.dropDown .social {
    display: none;
  }
}
#nav-container {
  width: 100vw;
  position:fixed;
  top:0;
}

nav {
  padding: .4em 1em .4em 1em;
  background-color: $light;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  .menu-item {
    flex-basis: 0;
  } .page {
    text-align: left;
    flex-grow: 6;
  } .social {
    text-align: right;
    flex-grow: 1;
  }
}

#social-icons {
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  .fa {
    align-content: center;
  }
}

/* end nav */
/* body */

/* end body */
/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $light;
  width: 100vw;
  padding: 1em 0 1em 0;
  margin: 0;
  text-align: center;
}

footer > * {
  flex-grow: 1;
  color: $electric;
  font-family: $quote;
  a {
    color: $blue;
  }
  small {
    padding: .7em;
  }
}

#pro-icons {
  display:block;
  a {
    padding: 0 .5em 0 .5em;
    display: inline;
    .fa {
      color: $electric;
    }
  }
}

.spacer {
  opacity: 0.0;
  margin: 0;
}
